@media screen {
    body {
	color:white;
	background-color:#222;
    }

    a {
	color:#c00;
    }
}

body {
    padding:1pc;
    padding-right:4pc;
}

.sm {
    font-size:0.8em;
}

img {
    width:90%;
    margin-bottom:2pc;
}

li {
    padding-bottom:6pt;
}

table {
    border:2pt solid #840;
}

th,td {
    padding:3pt;
    border:1pt solid #840;
}

td {
    text-align:center;
}
