@media screen {
    body {
	color:white;
	background-color:#222;
    }

    a {
	color:#c00;
    }
}

body {
    min-width:1400px;
    padding:2pc;
    padding-right:4pc;
    font-size:14pt;
}

img {
    margin-bottom:2pc;
}

li {
    padding-bottom:6pt;
}

table {
    border:2pt solid #840;
}

th,td {
    border:1pt solid #840;
}

td {
    text-align:center;
}
